<!DOCTYPE html>
<html>
  <head>
    <title>MeMix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>MeMix</h1>
    <br>
    <%=link_to 'Home', '/'%>
    <a>Profile</a>
    <%=link_to 'Create Account', new_user_path%>
    
    
    <%= yield %>
  </body>
</html>
